<footer class="p-4 bg-main-light">
    <div class="holder">

    <div class="footer-top">
        <h3 class="h4">Get The FreshCart App</h3>
        <p>We Will Send You a Link,open it on Your Phone</p>
        <div class="shar-link d-flex gap-2">
            <input type="text" class="form-control">
            <button class="main-btn flex-shrink-0">Share App Link</button>
        </div>
    </div>

    <div class="border mt-3"></div>

    <div class="footer-med mt-3">

        <div class="row">
            <div class="col-lg-6 ">
                <div class="payment hstack">
                    <p class="fs-5 pe-2 m-0">Payment Partner</p>
                    <span>
                        <img src="./assets/images/visa.svg" alt="visa not found">
                        <img src="./assets/images/master.svg" alt="visa not found">
                        <img src="./assets/images/visa-1.svg" alt="visa not found">
                    </span>
                </div>
            </div>

            <div class="col-md-6 none">
                <div class="delivers d-flex align-items-center gap-2 justify-content-end">
                    <p class=" fresh fs-5 pe-2 m-0">Get Deliveries with FreshCart</p>

                    <button class="bg-black text-white px-2 py-1 rounded-1 hstack border-0">
                        <span class="pe-1"><i  class="fa-brands fa-apple fs-5"></i></span>
                        <div class="div">
                            <p class="m-0 avilable">Avilable on the</p>
                            <p class="m-0 app">App Store</p>
                        </div>
                    </button>
                    <button class="bg-black text-white px-2 py-1 rounded-1 hstack border-0">
                        <span class="pe-1"><i class="fa-brands fa-google-play fs-5"></i></span>
                        <div class="div">
                            <p class="m-0 avilable">Avilable on the</p>
                            <p class="m-0 app">App Store</p>
                        </div>
                    </button>
                </div>
            </div>
        </div>  
    </div>

    <div class="border mt-3"></div>

    <p class="text-center mt-4 lead">© 2023 Mostafa Hosny , All Rights Reserved</p>
    </div>
</footer>


